<!DOCTYPE html>
<html>
<head>
  <title>PersonalWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="assets/favicon.ico">
		<link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">
</head>
<body data-spy="scroll" data-target="#main-nav" data-offset="200">

<%= yield %>

</body>
</html>
